@charset "UTF-8";
/************** Application de l'animation de rotation ****************/
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.nomination_1,
.nomination_2,
.site-footer ul::after {
  position: absolute;
  animation: rotate 20s linear infinite;
}

/* Positionnements spécifiques */
#studio h2::before {
  left: -90px;
  top: 0;
}

#studio h2::after {
  right: 1em;
  top: 1.2em;
}

/* ANIMATION NUAGE */
#place {
  position: relative;
  overflow: hidden;
}

.story #place > div {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -95em;
  margin-top: -3em;
  z-index: 5;
}

#place .place--big_cloud,
#place .place--little_cloud {
  position: absolute;
  filter: blur(12px);
}

#place .place--big_cloud {
  height: 122px;
  top: 70px;
  right: 90px;
}

#place .place--little_cloud {
  height: 55px;
  top: 250px;
  right: 500px;
}

/**************** ANIMATION SECTION *****************/
/* Réinitialisation de l'état initial */
.section {
  opacity: 0; /* Masqué par défaut */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Pour les titres de section */
.section-titre {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Application d'animation via des classes */
.section-visible-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.section-visible-down {
  animation: fade-in-down 0.8s ease-out forwards;
}

.titre-visible {
  opacity: 1;
  transform: translateY(0);
}

/************** ANIMATION  DES TITRES ***************/
.section-titre {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 1s ease-out;
}
.section-titre.titre-visible {
  opacity: 1;
  transform: translateY(0);
}

#studio {
  overflow: hidden;
}

/************ BANNER  *************/
/* Réglages de la bannière */
.banner {
  position: relative;
  height: 800px;
}

.banner__background {
  z-index: -2;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 1440px;
  opacity: 1;
}

.banner__video {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 1440px;
  opacity: 1;
}

/* Flottaison du logo */
.banner__logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out;
}

.move-up {
  animation: move-up 2s 300ms both;
}

/* Navigation */
#masthead #site-navigation #all-header .no-active-ul {
  display: none;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 1440px;
}
.site-header .main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 80px;
}
.site-header .main-navigation a:hover {
  color: #111;
}
.site-header .main-navigation .site-title {
  position: relative;
  align-self: center;
  justify-self: flex-start;
  overflow: visible;
  font-size: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
}
.site-header .main-navigation .all-head {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}
.site-header .main-navigation .all-head .site-title-active {
  bottom: 55px;
}
.site-header .main-navigation .all-head .logo-koukaki-burg {
  display: none;
  align-self: center;
}
.site-header .main-navigation .all-head .logo-koukaki-burg-active {
  display: block;
  margin: 40px;
}
.site-header .main-navigation .all-head ul {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 25px;
}
.site-header .main-navigation .all-head ul .nav-anchor {
  align-self: center;
  font-size: clamp(2rem, 1.5714rem + 2.1429vw, 3.5rem);
  overflow: hidden;
  z-index: 3;
}
.site-header .main-navigation .all-head ul .nav-anchor:hover {
  text-shadow: 1px 1px 14px #FF5C00;
}
.site-header .main-navigation .all-head .foot-burg {
  position: relative;
  text-transform: uppercase;
  align-self: center;
  top: 60vh;
  padding-top: -40px;
}
.site-header .main-navigation .all-head .img-burg-all {
  position: absolute;
}
.site-header .main-navigation .all-head .img-burg-all img {
  position: absolute;
  align-self: center;
}
.site-header .main-navigation .all-head .img-burg-all .hibiscus-burg {
  top: 510px;
  left: 1112px;
  position: absolute;
  animation: rotate 20s linear infinite;
}
.site-header .main-navigation .all-head .img-burg-all .flower-random-burg {
  scale: 0.4;
  top: 230px;
  left: 1335px;
  position: absolute;
  animation: rotate 20s linear infinite;
}
.site-header .main-navigation .all-head .img-burg-all .sunflower-burg {
  top: 80px;
  left: 1050px;
  position: absolute;
  animation: rotate 20s linear infinite;
}
.site-header .main-navigation .all-head .img-burg-all .orchid-burg {
  top: 50px;
  left: -59px;
  position: absolute;
  animation: rotate 20s linear infinite;
}
.site-header .main-navigation .all-head .img-burg-all .flower-simple-burg {
  top: 360px;
  left: 200px;
  position: absolute;
  animation: rotate 20s linear infinite;
}
.site-header .main-navigation .all-head .img-burg-all .cat-1-burg {
  top: 130px;
  left: 280px;
  animation: float 6s 2s infinite ease-in-out;
}
.site-header .main-navigation .all-head .img-burg-all .cat-2-burg {
  top: 360px;
  left: 1080px;
  animation: float 6s 2s infinite ease-in-out;
}
.site-header .main-navigation .all-head .img-burg-all .cat-3-burg {
  top: 600px;
  left: 80px;
  animation: float 6s 2s infinite ease-in-out;
}
.site-header .main-navigation .all-head .img-burg-active {
  display: contents;
}
.site-header .main-navigation .open-btn {
  z-index: 5;
  position: absolute;
  right: 5vw;
  font-size: 36px;
}
.site-header .main-navigation .open-btn:hover {
  cursor: pointer;
}
.site-header .main-navigation .open-btn .burger-icon span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
.site-header .main-navigation .close-btn {
  z-index: 5;
  display: none;
  position: absolute;
  right: 5vw;
  font-size: 36px;
}
.site-header .main-navigation .close-btn:hover {
  cursor: pointer;
}
.site-header .main-navigation .close-btn .burger-icon span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
.site-header .main-navigation .open-close {
  display: block;
}
.site-header .main-navigation .open-close .burger-icon #span-4 {
  animation: anim-burger-1 2s 1 ease;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .open-close .burger-icon #span-5 {
  animation: anim-burger-5 1500ms 1 linear;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .open-close .burger-icon #span-6 {
  animation: anim-burger-2 2s 1 ease;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .close-open {
  display: none;
}
.site-header .main-navigation .open-open .burger-icon #span-1 {
  animation: anim-burger-3 2s 1 ease;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .open-open .burger-icon #span-2 {
  animation: anim-burger-6 1500ms 1 linear;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .open-open .burger-icon #span-3 {
  animation: anim-burger-4 2s 1 ease;
  animation-fill-mode: forwards;
}
.site-header .main-navigation .active-nav {
  position: absolute;
  z-index: 2;
  top: 80px;
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  background-color: #FFF5E9;
  animation: fade-in-down 1500ms;
}
.site-header .main-navigation .no-active-nav {
  z-index: -1;
  top: 80px;
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  background-color: #FFF5E9;
  animation: fade-in-up-burg 1500ms;
  animation-fill-mode: forwards;
}

/* Style initial du menu pour qu'il démarre en bas avec opacité 0 */
#ul-nav {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  max-height: 0;
  overflow: hidden;
}

/* Animation de fondu et montée lorsque le menu est visible */
#ul-nav.show {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Transition pour chaque lien avec des délais croissants */
#ul-nav li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Transition avec délai pour chaque lien lors de l'affichage */
#ul-nav.show li {
  opacity: 1;
  transform: translateY(0);
}

/* Appliquez un délai spécifique pour chaque lien */
#ul-nav.show li:nth-child(1) {
  transition-delay: 0.4s;
}

#ul-nav.show li:nth-child(2) {
  transition-delay: 0.8s;
}

#ul-nav.show li:nth-child(3) {
  transition-delay: 1.2s;
}

#ul-nav.show li:nth-child(4) {
  transition-delay: 1.6s;
}

/************** ANIMATION SECTION *****************/
/* Animation de montée (fade-in vers le haut) */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation de descente (fade-in vers le bas) */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/********************* ANIMATION FLEUR ****************************/
/* Animation de rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************  ANIMATION BANNER  *************/
/*Opacity Move -down*/
@keyframes move-down {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
/* Opacity move-up */
@keyframes move-up {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
/* Float elements */
@keyframes float {
  0% {
    transform: translate3d(6px, 6px, 0);
  }
  12% {
    transform: translate3d(0px, 6px, 0);
  }
  24% {
    transform: translate3d(6px, -4px, 0);
  }
  36% {
    transform: translate3d(6px, 0px, 0);
  }
  48% {
    transform: translate3d(-4px, -6px, 0);
  }
  60% {
    transform: translate3d(0px, -4px, 0);
  }
  72% {
    transform: translate3d(-8px, 6px, 0);
  }
  84% {
    transform: translate3d(-4px, 0px, 0);
  }
  100% {
    transform: translate3d(6px, 6px, 0);
  }
}
/************* ANIMATION BURGER *************/
@keyframes anim-burger-1 {
  0% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(27deg);
  }
}
@keyframes anim-burger-2 {
  0% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(-27deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************ MEDIA QUERIES TABLETTE ************/
/* Styles pour les écrans de maximum 768px */
@media screen and (max-width: 768px) {
  .site-header .main-navigation .active-nav {
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 100vw;
    max-width: 1440px;
    height: 200vh;
    background-color: #FFF5E9;
    animation: fade-in-down 1500ms;
  }
  .site-header .main-navigation .all-head ul {
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 25px;
    top: -150px;
  }
  .site-header .main-navigation .all-head .foot-burg {
    position: relative;
    text-transform: uppercase;
    align-self: center;
    top: 90vh;
  }
  .banner {
    height: 300px;
    min-height: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__video {
    display: block;
    background-size: cover;
  }
  .banner__background {
    min-width: 900px;
    opacity: 1;
  }
  .story #characters h3 {
    position: absolute;
    margin-top: 0;
    margin-bottom: -2em;
    left: 1.5em;
  }
  .swiper-slide img {
    height: 100px;
  }
  .swiper {
    width: 100%;
    height: 500px;
    margin-bottom: 0px !important;
    overflow: hidden;
  }
  .story #place {
    display: flex;
    width: 100%;
    min-height: 0px !important;
    background-size: cover;
  }
  .story #place h3 {
    position: absolute;
    left: -50px;
    top: 1em;
  }
  .story #place > div p {
    position: absolute;
    left: 0;
    top: 10em;
    font-size: 12px;
    padding-right: 100px;
  }
  #place .place--little_cloud {
    height: 40px;
    top: 85px;
    right: -200px;
  }
  #place .place--big_cloud {
    height: 100px;
    top: 18px;
    right: -390px;
  }
  .nomination__oscars h3 {
    position: absolute;
    top: 44% !important;
    transform: translateY(-50%);
    line-height: 3.2rem;
    text-align: left !important;
  }
  .nomination_2 {
    margin: -180px !important;
    left: 370px !important;
  }
  .site-header .main-navigation .all-head .img-burg-all .cat-1-burg {
    left: 600px;
    animation: float 6s 2s infinite ease-in-out;
    z-index: -2;
  }
  .site-header .main-navigation .all-head .img-burg-all .flower-simple-burg {
    top: 400px;
    left: 500px;
    position: absolute;
    animation: rotate 20s linear infinite;
    z-index: -1;
  }
  .site-header .main-navigation .all-head .logo-koukaki-burg-active {
    display: block;
    margin: 10px;
  }
}
/************ MEDIA QUERIES TELEPHONE ************/
@media screen and (max-width: 580px) {
  .site-header .main-navigation .active-nav {
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 100vw;
    max-width: 1440px;
    height: 300vh;
    background-color: #FFF5E9;
    animation: fade-in-down 1500ms;
  }
  .banner {
    height: 300px;
    min-height: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__video {
    display: none;
  }
  .banner__background {
    opacity: 1;
  }
  .story #characters h3 {
    position: absolute;
    margin-top: 0;
    margin-bottom: -2em;
    left: 1.5em;
  }
  .swiper-slide img {
    height: 100px;
  }
  .swiper {
    width: 100%;
    height: 500px;
    margin-bottom: 0px !important;
    overflow: hidden;
  }
  .story #place {
    display: flex;
    width: 100%;
    min-height: 0px !important;
    background-size: cover;
  }
  .story #place h3 {
    position: absolute;
    left: -50px;
    top: 1em;
  }
  .story #place > div p {
    position: absolute;
    left: 0;
    top: 10em;
    font-size: 12px;
    padding-right: 100px;
  }
  #place .place--little_cloud {
    height: 40px;
    top: 85px;
    right: -200px;
  }
  #place .place--big_cloud {
    height: 100px;
    top: 18px;
    right: -390px;
  }
  .nomination__oscars h3 {
    position: absolute;
    top: 44% !important;
    transform: translateY(-50%);
    line-height: 3.2rem;
    text-align: left !important;
    font-size: 28px !important;
  }
  .nomination_2 {
    margin: -180px !important;
    left: 370px !important;
  }
  .site-header .main-navigation .all-head .img-burg-all .cat-1-burg {
    left: 400px;
    animation: float 6s 2s infinite ease-in-out;
  }
  .site-header .main-navigation .all-head .img-burg-all .flower-simple-burg {
    top: 400px;
    left: 500px;
    position: absolute;
    animation: rotate 20s linear infinite;
    z-index: -1;
  }
  .site-header .main-navigation .all-head .logo-koukaki-burg-active {
    display: block;
    margin: 10px;
  }
}
/******************** NOUVELLE SECTION *******************/
.nomination {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.nominationoscars {
  position: relative;
}

.nominationoscars img {
  height: 100%;
}

.nomination__oscars h3 {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  line-height: 3.2rem;
  text-align: left;
  font-size: 38px;
}

/* Suppression des fleurs du pieds de page pour le déplacer dans la nouvelle section- */
.fleurs {
  overflow: hidden; /* Masque ce qui dépasse */
  padding: 20px;
}

.nomination_1 {
  position: relative;
  width: 200px;
  right: -1300px;
}

.nomination_2 {
  margin: -90px;
  left: 390px;
}

/* fait disparaitre les fleur */
.site-footer::before {
  content: "";
}

.site-footer::after {
  content: "";
}

#place h3 {
  width: 60%;
}

/************* SLIDER ****************/
.swiper {
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: fit-content;
  font-size: 20px;
}
.swiper-slide img {
  display: block;
  height: 300px;
  width: auto;
}

#characters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}
#characters .title-bg {
  background-image: url("/images/orange_characters_bg.png");
  margin-top: 70px;
}

.story #characters {
  margin: 6em;
  margin-left: -50em;
}

/*# sourceMappingURL=theme.css.map */
