/************** Application de l'animation de rotation ****************/
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.nomination_1,
.nomination_2,
.site-footer ul::after {
  position: absolute;
  animation: rotate 20s linear infinite;
}
/* Positionnements spécifiques */

#studio h2::before {
  left: -90px;
  top: 0;
}

#studio h2::after {
  right: 1em;
  top: 1.2em;
}
