/************ BANNER  *************/

/* Réglages de la bannière */
.banner {
    position: relative;
    height: 800px;
  }
  
  .banner__background {
    z-index: -2;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 1440px;
    opacity: 1;
  }
  
  .banner__video {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 1440px;
    opacity: 1;
  }
  
  /* Flottaison du logo */
  .banner__logo {
    position: sticky;
    top: 80px;
    z-index: 10;
    animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out;
  }
  .move-up {
    animation: move-up 2s 300ms both;
  }
  