/* ANIMATION SECTION */

/* Réinitialisation de l'état initial */
.section {
  opacity: 0; /* Masqué par défaut */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Pour les titres de section */
.section-titre {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/************ ANIMATIONS ************/

/* Animation de montée (fade-in vers le haut) */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation de descente (fade-in vers le bas) */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Application d'animation via des classes */
.section-visible-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.section-visible-down {
  animation: fade-in-down 0.8s ease-out forwards;
}

.titre-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ANIMATION  DES TITRES */
.section-titre {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 1s ease-out;

  &.titre-visible {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Animation de rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************** Application de l'animation de rotation ****************/
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after {
  position: absolute;
  animation: rotate 20s linear infinite;
}

/* Positionnements spécifiques */
.story h2::after {
  left: -7.4em;
  top: 6em;
}

.story h2::before {
  left: -8em;
}

#studio h2::before {
  left: -1em;
  top: 0;
}

#studio h2::after {
  right: 1em;
  top: 1.2em;
}

.site-footer::before {
  left: 4em;
  top: 0em;
}

.site-footer::after {
  right: -4em;
  bottom: 7.8em;
}
/******************** NOUVELLE SECTION *******************/
.nomination {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
}

.nominationoscars {
  position: relative;
}

.nominationoscars img {
  height: 100%;
}

.nomination__oscars h3 {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  line-height: 3.2rem;
  text-align: left;
  font-size: 38px;
}

/************ BANNER ET MEDIA QUERIES *************/

/* Réglages de la bannière */
.banner {
  position: relative;
  height: 800px;
}

.banner__background {
  z-index: -2;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 1440px;
  opacity: 1;
}

.banner__video {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 1440px;
  opacity: 1;
}

/* Flottaison du logo */
.banner__logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out;
}
.move-up {
  animation: move-up 2s 300ms both;
}

/*Opacity Move -down*/
@keyframes move-down {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

/* Opacity move-up */
@keyframes move-up {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}


/* Float elements */
@keyframes float {
  0% {
    transform: translate3d(6px,6px,0);
  }
  12% {
    transform: translate3d(0px,6px,0);
  }
  24% {
    transform: translate3d(6px,-4px,0);
  }
  36% {
    transform: translate3d(6px,0px,0);
  }
  48% {
    transform: translate3d(-4px,-6px,0);
  }
  60% {
    transform: translate3d(0px,-4px,0);
  }
  72% {
    transform: translate3d(-8px,6px,0);
  }
  84% {
    transform: translate3d(-4px,0px,0);
  }
  100% {
    transform: translate3d(6px,6px,0);
  }
}


/************ MEDIA QUERIES ************/

@media screen and (max-width: 768px) {
  .banner__video {
    display: none;
  }
  .banner__background {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .banner {
    height: 600px;
  }
  .banner__background {
    min-width: 1200px;
    opacity: 1;
  }
}

@media screen and (max-width: 580px) {
  .banner {
    height: 400px;
  }
  .banner__background {
    min-width: 900px;
    opacity: 1;
  }
  .nomination__oscars h3 {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    line-height: 3.2rem;
    text-align: left;
    font-size: 28px;
}
}


swiper-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width:100%;
}

