/************ MEDIA QUERIES TABLETTE ************/

@media screen and (max-width: 768px) {
    
    .banner__background {
      display: block;
      width: 100%;
    }
    .story #characters h3 {
      position: absolute;
      margin-top: 0;
      margin-bottom: -2em;
      left: 1.5em;
    }
    #place .place--little_cloud {
      height: 55px;
      top: 190px;
      right: -200px;
    }
    #place .place--big_cloud {
      height: 122px;
      top: 70px;
      right: -350px;
    }
    .story #place > div {
      max-width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: -52em;
      margin-top: 12em;
      z-index: 5;
    }
    #studio h2::before {
      left: -1.8em;
     top: 0;
   }
   .nomination__oscars h3 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    line-height: 3.2rem;
    text-align: left;
    font-size: 38px;
}
}
  
  /************ MEDIA QUERIES TELEPHONE ************/

  @media screen and (max-width: 580px) {
    .banner {
      height: 400px;
    }
    .banner__video {
      display: none;
    }
    .banner__background {
      min-width: 900px;
      opacity: 1;
    }
    .nomination__oscars h3 {
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      line-height: 3.2rem;
      text-align: left;
      font-size: 28px;
  }

    .story #characters h3 {
        position: absolute;
        margin-top: 0;
        margin-bottom: -2em;
        left: 1.5em;
    }

    .swiper-slide img {
        height: 300px;
    }

    .story #place h3 {
        position: absolute;
        left: 0;
        top: 3em;
    }

    .story #place > div p {
        position: absolute;
        left: 0;
        top: 20em;
    }

  #place .place--little_cloud {
    height: 55px;
    top: 190px;
    right: -200px;
  }
  #place .place--big_cloud {
    height: 122px;
    top: 70px;
    right: -350px;
  }
}











