/******************** NOUVELLE SECTION *******************/
.nomination {
    position: relative;
    padding: 150px 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    
  }
  
  .nominationoscars {
    position: relative;
  }
  
  .nominationoscars img {
    height: 100%;
  }
  
  .nomination__oscars h3 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    line-height: 3.2rem;
    text-align: left;
    font-size: 38px;
  }
  /* Suppression des fleurs du pieds de page pour le déplacer dans la nouvelle section- */
  .fleurs {
    overflow: hidden; /* Masque ce qui dépasse */ 
    padding: 20px;
  }
  .nomination_1 {
    position: relative;
    width: 200px; 
    right: -1300px;
    // transform-origin: center !important;
  }
  
  .nomination_2 {
    margin: -90px;
    left: 390px;
   
}
  /* fait disparaitre les fleur */
   .site-footer::before {
     content: '';
   }
  
   .site-footer::after {
     content: '';
   }
  
   #place h3 {
     width: 60%;
    }

